.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sender {
  float: right;
  /* width: max-content; */

  text-align: right;
  border-radius: 5px 5px 0px 10px;
  margin: 2px;
}
.receiver {
  float: left;
  /* width: max-content; */

  margin: 2px;
  text-align: left;
  border-radius: 5px 5px 10px 0px;
  word-wrap: normal;
}
.messageContainer {
  color: rgb(246, 246, 246);
  float: inherit;
  padding: 5px;
  border: 1px solid;
  border-radius: inherit;
  width: max-content;
}

.receiver p {
  background-color: rgb(64, 20, 105);
}
.sender p {
  background-color: blueviolet;
}
